.app-layout{
  background: linear-gradient(to left,#05a697 25%, #3b3b3b 25%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 25px;
  color: white;
  padding: 40px 50px;
}

.user-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid white;
  color: #05a697;
  width: 100%;
  font-size: 20px;
  margin: 0px 10px 40px;
  padding: 20px 0px 10px;
}
